<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
بورس ایران

</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این سوال قرار است با داده های واقعی بورس ایران به چند مسئله پاسخ دهید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول:
محاسبه‌ی حداکثر افت سرمایه در بازه سه سال
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
طبق گفته‌ی سایت <i>investopedia</i> تعریف  <a href="https://www.investopedia.com/terms/m/maximum-drawdown-mdd.asp">Maximum DarwDown</a> به شرح زیر است : 
<br>
<i>Maximum DrawDown (MDD)</i> یا همان حداکثر افت سرمایه مقدار حداکثر افت سرمایه از یک قله تا 
<b>
کف بعد از آن
</b>
 قله است قبل از این که قله جدیدی تشکیل شود.
<br>
حداکثر افت سرمایه نشانگر ریسک نزولی در یک بازه‌ی زمانی مشخص است.
</font>
</p>

$$ MDD = \frac{Trough Value - Peak Value}{Peak Value} $$

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این قسمت شما داده های سهام فولاد در بورس ایران را دریافت می‌کنید و باید میزان حداکثر افت سرمایه را از تاریخ 01-01-2020 تا تاریخ 01-01-2023 را به‌دست بیاورید و تا دو رقم اعشار رند کنید و در  <code>MDD</code> قرار دهید.
<br>
خروجی شما باید عددی اعشاری بین صفر و یک با علامت منفی باشد و نوع داده شما باید <code>float</code> باشد.
<br>
برای محاسبه‌ی <code>MDD</code> از ستون <code>adjClose</code> استفاده کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the data
# read فولاد.csv for this part
foolad_df = pd.read_csv("فولاد.csv") # TO_DO
foolad_df.head()

,date,open,high,low,adjClose,value,volume,count,yesterday,close
0,2007-03-11,1900.0,1938.0,1900.0,1900.0,889437216900,468077431,7736,1900.0,1900.0
1,2007-03-12,1938.0,1938.0,1938.0,1938.0,193879458000,100041000,9214,1900.0,1938.0
2,2007-03-13,1976.0,1976.0,1915.0,1973.0,249241504527,126270939,5862,1938.0,1973.0
3,2007-03-14,1934.0,1966.0,1934.0,1934.0,51666379451,26705128,1901,1973.0,1934.0
4,2007-03-17,1896.0,1927.0,1896.0,1898.0,28239006789,14877283,1514,1934.0,1898.0

In [8]:
adj = foolad_df['adjClose'].values
increase = [True]
vals = [adj[0]]
for i in range(1,len(adj)) : 
    if (adj[i] < adj[i-1]) and increase[-1] : 
        vals.append(adj[i-1])
        increase.append(False)
    if (adj[i]>adj[i-1])and (not increase[-1]) : 
        vals.append(adj[i-1])
        increase.append(True)
dds = []
for i in range(1,len(vals)) :
    if i % 2 != 0 :
        dds.append(vals[i]-vals[i-1])

In [10]:
# calculate the MDD
MDD = max(dds)
print(f"MDD : {MDD}")

MDD : 7910.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم:
کندل های حجمی
</font>
</h2>
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
  کندل های حجمی یا <a href="https://towardsdatascience.com/advanced-candlesticks-for-machine-learning-ii-volume-and-dollar-bars-6cda27e3201d">volume bars</a> 
آن دسته از کندل‌هایی هستن که بر اساس حجم هستند.
<br>
در کندل‌های زمانی در یک بازه‌ی زمانی مشخص ریز معاملات را بررسی می‌کنند و قیمت شروع‌کننده رو به‌عنوان Open Price در نظر می‌گیرند و قیمت آخر را به‌عنوان Close Price در نظر می‌گیرن و بالاترین و پایین ترین قیمت را به ترتیب به عنوان High و Low در نظر می‌گیرند و همچنین مجموع حجم آن روز را به‌عنوان volume در نظر گرفته می‌شود.
<br>
نمونه‌های کندل‌های زمانی را در قسمت قبل دیدید که در یک بازه‌ی یک روزه ریز معاملات را بررسی کرده‌اند.
<br>
در کندل های حجمی نیز شما به همین سبک عمل کرده ولی زمان برای شما مهم نمی‌باشد بلکه به ازای یک مقدار مشخص حجم که در این سوال برای شما 400000 در نظر گرفته شده است کندل های حجمی را تشکیل می‌دهیم.
<br>
در این سوال به شما ریز معاملات یک روز معاملاتی سهام فولاد داده شده است شما باید هر موقع مجموع حجم ریزمعاملات به عدد 400000 رسید یک کندل (یک ردیف در دیتا فریم) تشکیل دهید و تمام پارامتر ها را (Open Price, Close Price,...) باید در نظر بگیرید.
<br>
5 خط اول خروجی شما باید به شکل زیر باشد.
<br>
خروجی خود را در <code>volume_bars</code> ذخیر کنید.
<br>
راهنمایی : برای این سوال باید از iteration استفاده کنید.
</font>
</p>

<center>

|    |   open |   high |   low |   close |   volume |
|---:|-------:|-------:|------:|--------:|---------:|
|  0 |   6260 |   6260 |  6260 |    6260 |   419476 |
|  1 |   6260 |   6260 |  6240 |    6240 |   403936 |
|  2 |   6240 |   6240 |  6220 |    6220 |   409206 |
|  3 |   6220 |   6240 |  6220 |    6220 |   401274 |
|  4 |   6220 |   6230 |  6210 |    6230 |   412543 |

</center>

In [12]:
# read ریزمعاملات_فولاد.csv for this part
foolad_detailed_df = pd.read_csv("ریزمعاملات_فولاد.csv")
foolad_detailed_df.head()

       date  volume   price
0  09:00:30  100000  6260.0
1  09:00:30   50213  6260.0
2  09:00:30   28030  6260.0
3  09:00:30   14050  6260.0
4  09:00:30    7958  6260.0

In [58]:
candles = pd.DataFrame({'open' : [] , 'high' : [] , 'low' : [] , 'close' : [] , 'volume' : []})
vol = foolad_detailed_df['price'].values
hajm = foolad_detailed_df['volume'].values
open_ = 0 
clos = 0 
high = 0
low = 0
volume = vol[0]
i = 0
while i < len(foolad_detailed_df) - 1 : 
    open_ = vol[i]
    high = vol[i]
    low = vol[i]
    volume = hajm[i] if i == 0 else 0 
    while volume < 400000 : 
        i += 1
        if i == (len(foolad_detailed_df)) : 
            break
        volume += hajm[i]
        if vol[i] > high : 
            high = vol[i]
        if vol[i] < low :
            low = vol[i]
    if i == (len(foolad_detailed_df)) : 
            break
    close = vol[i]
    candles.loc[len(candles)] = [int(open_) , int(high) , int(low) , int(close) , int(volume)] 
candles.head()

   open  high   low  close  volume
0  6260  6260  6260   6260  419476
1  6260  6260  6240   6240  403936
2  6240  6240  6220   6220  409206
3  6220  6240  6220   6220  401274
4  6220  6230  6210   6230  412543

In [59]:
# calculate volume bars dataframe
volume_bars = candles
volume_bars.reset_index(drop=True, inplace=True)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>).
</font>
</p>

In [60]:
import zipfile
import joblib

joblib.dump(MDD,"MDD")
volume_bars.to_csv('./volume_bars.csv', index=False)

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["MDD" , "volume_bars.csv" , "boors.ipynb"]
compress(file_names)

File Paths:
['MDD', 'volume_bars.csv', 'boors.ipynb']