<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 شهر‌های پرجمعیت
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این تمرین با اطلاعات بیش از ۴۰هزار شهر در قالب یک دیتافریم مواجه می‌شوید و با هدف تمرین کتابخانه‌های <code>pandas</code> و <code>numpy</code> باید تغییراتی روی این دیتافریم ایجاد کنید.   
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
داده‌ها را از فایل اکسل <code>worldcities.xlsx</code> که در پوشه تمرین قرار دارد بخوانید و در متغیر 
<code>df</code>
 ذخیره کنید.

</font>
</p>

In [8]:
# load data
df = pd.read_excel("worldcities.xlsx")
df.head()

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
حذف و نام‌گذاری ستون‌ها
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
ستون‌های
<code>id</code>،
<code>‌capital</code>،
<code>ville_ascii</code> 
و 
<code>admin_nom</code>
 را از دیتافریم حذف نمایید.
سپس نام ستون‌های 
<code>ville</code> 
و 
<code>pays</code>
 که به زبان فرانسوی نامگذاری شده‌اند را به ترتیب به 
<code>city</code> 
و 
<code>country</code>
تغییر دهید.
</font>
</p>

In [9]:
# drop and rename
df = df.drop(['ville_ascii' , 'capital' , 'id' , 'admin_nom'] , axis = 1 )
df = df.rename({"ville" : "city" , "pays" :"country" } , axis = 1)
df.head()

       city      lat       lng      country iso2 iso3  population
0  A Coruña  43.3667   -8.3833        Spain   ES  ESP    245468.0
1  A Yun Pa  13.3939  108.4408      Vietnam   VN  VNM     53720.0
2  Aabenraa  55.0444    9.4181      Denmark   DK  DNK     16401.0
3    Aachen  50.7756    6.0836      Germany   DE  DEU    249070.0
4    Aadorf  47.4939    8.8975  Switzerland   CH  CHE      9036.0

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
فیلتر داده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
شهر‌های با جمعیت کمتر از ۱ میلیون نفر  را از دیتافریم حذف کرده (شهر‌های با جمعیت دقیقا ۱ میلیون نفر در دیتافریم بمانند) و سپس نوع داده‌های ستون 
<code>population</code>
 را از 
 <code>float</code>
  به
  <code>int32</code>
   تبدیل نمایید.
</font>
</p>

In [10]:
# filter data 
msk_pop = df['population'] >= 1000000
df = df[msk_pop]
df.shape

(776, 7)

In [11]:
# change type population
df['population'] = df['population'].astype('int32')
df.dtypes

C:\Users\Rayan\AppData\Local\Temp\ipykernel_11584\4066774202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['population'] = df['population'].astype('int32')

city           object
lat           float64
lng           float64
country        object
iso2           object
iso3           object
population      int32
dtype: object

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در مراحل بعدی می‌خواهیم برخی مقادیر دیتافریم را تغییر دهیم و جهت داوری تغییرات صورت گرفته تاکنون نیاز است یک کپی از <code>df</code> داشته باشیم. بدین منظور از تابع  <code>copy</code> استفاده می‌کنیم.
به طور کلی استفاده از مساوی برای دیتافریم‌ها در پانداز مانند نامپای عمل می‌کنند و تنها یک رفرنس جدید به همان دیتافریم اضافه می‌شود بنابراین تغییر دادن هر کدام از دیتافریم‌ها باعث تغییر دیگری نیز می‌شود.
    استفاده از تابع <code>copy</code> این قابلیت را برای ما ایجاد می‌کند که یک کپی از دیتافریم اولیه دریافت کنیم و تغییر یکی تاثیری روی دیگری نداشته باشد.
<br>
</font>
</p>

In [12]:
first_df = df.copy()

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
حذف داده‌های تکراری و گم‌شده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
نخست ردیف‌های تکراری دیتافریم و سپس ردیف‌هایی که بیش از یک مورد (۲ مورد و بیش‌تر) از اطلاعات آن‌ها گم‌شده است را از دیتافریم حذف نمایید.
</font>
</p>

In [14]:
# remove duplicated and missed values
df = df.drop_duplicates()
df = df.dropna(thresh = 6 , axis = 0)
df.shape

(767, 7)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پر کردن داده‌ها گم‌شده
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در ادامه این تمرین قصد داریم محاسباتی را بر روی ستون‌های 
<code>lat</code> و 
<code>lng</code>
 انجام دهیم، اما در چند ردیف از دیتافریم مقادیر یکی از این دو ستون ثبت نشده است؛ از این رو در این بخش قصد داریم مقادیر مفقوده در این دو ستون را با میانگین همان مولفه در همان کشور پر نماییم. به عنوان مثال چنانچه مقدار <code>lat</code> 
 برای مشهد ثبت نشده باشد، میانگین <code>lat</code>  در دیگر شهر‌های ایران را محاسبه کرده و به عنوان <code>lat</code>  برای شهر مشهد در نظر می‌گیریم.
</font>
</p>

In [27]:
# fill missing values of 'lat' and 'lng' columns

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
محاسبه فاصله از تهران
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این بخش قصد داریم فاصله هر یک از شهر‌ها را با تهران حساب کنیم. بدین منظور از فرمول هاورسین استفاده خواهیم کرد. این فرمول بر اساس طول جغرافیایی (Logitude) و عرض جغرافیایی (Latitude)  دو نقطه در سطح یک کره، فاصله آنها را حساب می‌کند.
فرمول محاسبه فاصله هاورسین در ادامه آورده شده است. برای اطلاعات بیشتر در رابطه با آن می‌توانید به این
<a href="https://www.movable-type.co.uk/scripts/latlong.html"> لینک</a>
 مراجعه کنید. 
در این بخش از شما خواسته شده است، نخست با توجه به فرمول هاورسین و مقادیر طول و عرض جغرافیایی تهران که از دیتافریم استخراج می‌کنید تابع  <code>haversin_from_teh</code>  را تکمیل کرده تا فاصله هر شهر از تهران را محاسبه کند و سپس با استفاده از این تابع، 
فاصله هر شهر از تهران را در ستون
<code>distance_from_tehran</code>
در دیتافریم درج نمایید.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
فرمول هاورسین:
</font>
</p>



$\lambda_1$, $\lambda_2$ : longitudes of the two points in radians (lng)

$\varphi_1$, $\varphi_2$ : the latitudes of the two points in radians (lat)

$d$ : distance between two cities


$$
r = 6371
$$
$$
a = \sin^2\left(\frac{\varphi_2-\varphi_1}{2}\right) + \cos(\varphi_1)\cos(\varphi_2)\sin^2\left(\frac{\lambda_2-\lambda_1}{2}\right)
$$
$$
d = 2r \operatorname{atan2}\left(\sqrt{a}, \sqrt{1 -a}\right)
$$

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
<code>تذکر:</code>
دقت کنید که مقادیر طول و عرض جغرافیایی ثبت شده در دیتافریم به درجه می‌باشد و برای استفاده از رابطه فوق باید به رادیان تبدیل گردد. همچنین توجه کنید ملاک ارزیابی پاسخ شما فرمول فوق و طول و عرض جغرافیایی تهران که در همین دیتافریم درج شده، می‌باشد.
</font>
</p>

In [27]:
def haversine_from_teh(lat, lng):
    import math
    teh_lat = df[df['city'] == 'Tehran']['lat']
    teh_lng = df[df['city'] == 'Tehran']['lng']
    teh_lat = teh_lat * 180 / math.pi
    teh_lng = teh_lng * 180 / math.pi
    lat_2 = lat * 180 / math.pi
    lng_2 = lng * 180 / math.pi
    a = (math.sin((lat_2-teh_lat)/2))**2 + math.cos(teh_lat)*math.cos(lat_2)*(math.sin((lng_2 - teh_lng)/2))**2
    r = 6371
    d = 2 * r * math.atan2(math.sqrt(a) , math.sqrt(1-a))
    return d

In [28]:
# create distance_from_tehran column
df['distance_from_tehran'] = df[['lat' , 'lng']].apply(lambda x : haversine_from_teh(*x) , axis = 1 )
df.head()

,city,lat,lng,country,iso2,iso3,population,distance_from_tehran
19,Aba,5.1167,7.3667,Nigeria,NG,NGA,1530000,15376.314484
83,Abidjan,5.3167,-4.0333,Côte d'Ivoire,CI,CIV,4980000,14825.679927
121,Abu Dhabi,24.4667,54.3667,United Arab Emirates,AE,ARE,1483000,11309.216315
131,Abuja,9.0667,7.4833,Nigeria,NG,NGA,3770000,13950.809695
169,Accra,5.5500,-0.2000,Ghana,GH,GHA,2388000,16819.558121

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مرتب‌سازی و دخیره دیتافریم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال شهر‌ها را بر اساس حروف الفبا (به صورت صعودی) و سپس بر اساس مقدار ستون 
<code>lat</code>
(به صورت نزولی)
 مرتب کرده و دیتافریم <code>df</code> را بدون نمایه‌هایش (index) درون فایلی به نام <code>distances.csv</code> ذخیره کنید. 
</font>
</p>

In [29]:
# sort and save dataframe df 
df = df.sort_values(by=['city' , 'lat'] , ascending=[True , False])
df.to_csv("distances.csv" , index=False)


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
عمل فوق را بر روی دیتافریم 
<code>first_df</code>
نیز اجرا کنید و با نام 
<code>cities.csv</code>
ذخیره کنید (مرتب‌سازی بر اساس نام شهر (به صورت صعودی) و سپس بر اساس مقدار ستون 
<code>lat</code>
(به صورت نزولی) و ذخیره دیتافریم بدون نمایه).
</font>
</p>

In [31]:
# sort and save dataframe first_df
first_df = first_df.sort_values(by=['city' , 'lat'] , ascending=[True , False])
first_df.to_csv("cities.csv")

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [ ]:
import zlib
import zipfile

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ['populous_cities.ipynb' , 'cities.csv', 'distances.csv']

compress(file_names)